* {
    margin: 0;
    padding: 0;
}

.container {
    display: ;
}
h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-pop {
    margin-left: 30px;
    margin-bottom: 30px;
}


.popular {
    display: flex;
    
}

/* div>img {
    max-width: 50%;
} */
.pop {
    list-style: none;
    margin-left: 20px;
    font-size: 20px;
}

@media (max-width: 1000px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9);
        font-size: medium;
    }
    .div-menu {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9);
        font-size: medium;
    }
   
    .main-pop {
        margin: 0;
        padding: 0;
    }
    .popular {
        display: block;
    }
    .popular>img {
        width: 500px;
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9);
        font-size: medium;
    }
    .div-menu {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5);
        font-size: medium;
    }
    
    .main-pop {
        margin: 0;
        padding: 0;
    }
    .popular {
        display: block;
    }
    .popular>img {
        width: 400px;
    }
}





